h1 {
	text-align: center;
}
.caja-chat {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.caja-mensajes {
	display: flex;
	flex: 1 1 100%;
	justify-content: center;
	margin-top: 1rem;
}
#text {
	height: 2rem;
	width: 15rem;
}
#nickname {
	height: 2rem;
}
#enviar {
	height: 2rem;
}
#messages {
	width: 95%;
	max-width: 400px;
	height: 350px;
	overflow-y: scroll;
	border: 1px solid black;
	flex: 1 1 100%;
}
.message {
	margin: 20px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
	background: white;
}
